// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/bootstrap";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

// Bildene er hentet fra en gratis bildebank kalt Unsplash. //
body {
    background: pink;
    background-image: url('../images/Sakura.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
  }

  .page-title {
    text-shadow: 2px 3px 4px violet;
    color: beige;
    font-size: 48px;
    font-weight: bold;
    padding: 1rem;
    margin-left: 2rem;
  }

  h3 {
    text-shadow: 2px 2px 2px violet;
    color: beige;
    font-size: 24px;
    font-weight: 900;
  }

  p {
    text-shadow: 2px 2px 2px violet;
    color: beige;
    font-size: 20px;
    font-weight: bold;
  }

/* Litt vanskelig å få bildene til å passe med hverandre, men jeg vil heller ofre kvalitet for symetri med hverandre 
enn at et bilde er høyere eller bredere enn det andre. Skaper et mer estetisk utseende mener jeg. */
  .movie-details {
    height: 395px;
    width: 400px;
    margin-left: 2rem;
    margin-bottom: 5rem;
    padding: 1rem;
    border-style: outset;
    border-color: whitesmoke;
    border-width: 0.5rem;
    border-top-width: 0px;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-image: url('../images/Sakura 2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
.movie-posters {
  height: 600px;
  width: 400px;
  margin-left: 2rem;
  margin-top: 2rem;
  border-style: outset;
  border-color: whitesmoke;
  border-width: 0.5rem;
  border-radius: 25px;
}

  .movie-search > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
  }

/* Alt under er for å skape en effekt som gjør at den skal kun fremvise detaljene til filmen
ved å hover over film plakatene. */
.movie-posters:hover {
  transform: scale(1.0);
  border-bottom-width: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.movie-posters:hover ~ .movie-details {
  display: block;
}

.movie-posters:not(:hover) ~ .movie-details {
  display: none;
}
